<div class="wrapper">
    <div class="half" style="font-size: 1.3em;">
        <span>Устройства</span>
        <div class="list-wrapper">
            <div class="list scroll-style" cdkDropListGroup>
                <mat-accordion class="bayan" [multi]="true">
                    <mat-expansion-panel *ngFor="let device of devices">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{device.name}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="icon-container">
                            <mat-icon style="display: inline;">edit</mat-icon>
                            <mat-icon style="display: inline;">clear</mat-icon>
                        </div>
                        <div class="list" cdkDropList [cdkDropListConnectedTo]="batteryList" [id]="'device'+device.id"
                        [cdkDropListData]="device.paired_batteries" (cdkDropListDropped)="drop($event)"
                        *ngIf="device.paired_batteries">
                            <div class="battery" *ngFor="let battery of device.paired_batteries" cdkDrag
                            [cdkDragData]="battery">
                                <span>{{battery.name}}</span>
                                <div class="icon-container">
                                    <mat-icon>edit</mat-icon>
                                    <mat-icon>clear</mat-icon>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
    <div class="half" style="font-size: 1.3em;">
        <span>Аккумуляторы</span>
        <div class="list-wrapper">
            <div class="list scroll-style" cdkDropList #batteryList="cdkDropList" [cdkDropListData]="batteries"
            (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="getDevices()">
                <div class="battery" *ngFor="let battery of batteries" cdkDrag>
                    <span>{{battery.name}}</span>
                    <div class="icon-container">
                        <mat-icon>edit</mat-icon>
                        <mat-icon>clear</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
